body {
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    font-size: 3em;
}
h3 {
    font-size: 1.5em;
}
li {
    line-height: 1.5;
    margin: 0.5em;
}
.consider {
    text-align: center;
    font-size: 2em;
}